{% extends "layout.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<script>
    console.log(news)
</script>
<section class="py-5">
    <div class="container position-relative">
        <h1 class="fs-2 fw-semibold">Latest News</h1>
        <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% for news in news_data %}
                <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
                    class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif %}"
                    aria-label="Slide {{ forloop.counter }}"></button>
                {% endfor %}
            </div>

            <div class="carousel-inner" style="height: 450px; overflow: hidden;">
                <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
                    {% if news_data %}
                        <div class="carousel-inner" style="height: 450px; overflow: hidden;">
                            {% for news in news_data %}
                                {% include "components/news_card.html" with news=news %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="text-center text-muted">No news available at the moment. Please try again later.</p>
                    {% endif %}
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-dark rounded-circle" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-dark rounded-circle" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
{% endblock %}